<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta Text="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="static/main.css">
    
    
</head>
<body>


<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-#60bde5">
		<div class="navbar-nav mx-auto">
		  <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
		  <a class="nav-item nav-link" href="{{ url_for('timeline') }}"><b>Timeline</b></a>
		  <a class="nav-item nav-link" href="{{ url_for('previousdata') }}">Previous Data</a>
		  <a class="nav-item nav-link" href="{{ url_for('currentdata') }}">Current Data</a>
		  <a class="nav-item nav-link" href="{{ url_for('comparison') }}">Comparison</a>
		  <a class="nav-item nav-link" href="{{ url_for('interactivegraph') }}">Interactive Graph</a>
		</div>
	</nav>
</div>





 
<div>
<br>
<h2 style = "text-align: center;">Timeline</h2>
<h3 style = "text-align: center;"> <br> </h3>
<br>
<h4 style = "text-align: center;"></h4>
<br>
<br>
</div>

<div class="timeline">
  <div class="containerz left">
    <div class="content">
	  <img src="" style="width:100%">
      <h2>1907</h2>
	  <h3 style = "font-weight: bold" > </h3>
      <h3>The Panic of 1907</h3>
	  <h5>Dates: October 1907 – November 1907</h5>
    </div>
  </div>
  <div class="containerz right">
    <div class="content">
	  <img src="" style="width:100%">
      <h2>1929</h2>
	 <h3>Stock Market Crash</h3>
	 <h5>Dates: October 1929 - November 1929 </h5>
	</div>
  </div>
  
  <div class="containerz left">
    <div class="content">
	  <img src="" style="width:100%">
      <h2>1987</h2>
	  <h3 style = "font-weight: bold" > </h3>
      <h3>Black Monday Crash</h3>
	  <h5>Dates: October 1987 - September 1989</h5>
    </div>
  </div>
  <div class="containerz right">
    <div class="content">
	  <img src="" style="width:100%">
      <h2>1992</h2>
	 <h3>Stock Market Scam</h3>
	 <h5>Dates: April 1992 - April 1992</h5>
	</div>
  </div>  
  
  <div class="containerz left">
    <div class="content">
	  <img src="" style="width:100%">
      <h2>2000</h2>
	  <h3 style = "font-weight: bold" > </h3>
      <h3>Dot-Com Bubble Burst</h3>
	  <h5>Dates: March 2000 - October 2002</h5>
    </div>
  </div>
  <div class="containerz right">
    <div class="content">
	  <img src="" style="width:100%">
      <h2>2008</h2>
	 <h3>Stock Market and Housing Crash</h3>
	 <h5>Dates: October 2007 - March 2009</h5>
	</div>
  </div>  


  <div class="containerz left">
    <div class="content">
	  <img src="" style="width:100%">
      <h2>2010</h2>
	  <h3 style = "font-weight: bold" > </h3>
      <h3>Flash Crash</h3>
	  <h5>Dates: May 2010 - May 2010</h5>
    </div>
  </div>
  <div class="containerz right">
    <div class="content">
	  <img src="" style="width:100%">
      <h2>2020</h2>
	 <h3>The Coronavirus Crash</h3>
	 <h5>Dates: March 2020 - Present</h5>
	</div>
  </div>  


<!-- https://www.chicagotribune.com/business/careers-finance/sns-stacker-stock-market-crashes-explained-20210803-lbkig4rilve4rmvyb34d54sf74-photogallery.html -->
  
</div>
	
<footer>
<div class="footer-text">
<br>
</div>
</footer>
</body>
</html>